<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile App</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-category">
                <img src="./images/menu.svg" alt="Menu Button" />
            </span>
        </div>
    </header>
    <main>
        <section class="mobile-block">
            <div class="mobile-block_header is-warning">
                Main page
            </div>
            <div class="container">
                <div class="category-row">
                    <div class="category-item">
                        <img src="./images/menu copy.svg" alt="home" class="category-item__img">
                        <span class="category-item__title">Overworld</span>
                    </div>
                    <div class="category-item">
                        <img src="./images/menu copy.svg" alt="second" class="category-item__img">
                        <span class="category-item__title">Nether</span>
                    </div>
                    <div class="category-item">
                        <img src="./images/menu copy.svg" alt="second" class="category-item__img">
                        <span class="category-item__title">The End</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>