<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile App</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-category">
                <img src="./images/menu.svg" alt="Menu Button" />
            </span>
        </div>
    </header>
    <main>
        <section class="mobile-block">
            <div class="mobile-block_header is-secondary">
                Main page
            </div>
            <div class="all-news-block">
                <div class="card">
                    <div class="container">
                        <h3 class="card__title">shipwreck</h3>
                        <spam class="card__date">03/09/2024</spam>
                        <span class="card__category">текст</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card">
                        <div class="container">
                            <h3 class="card__title">ruined portal</h3>
                            <spam class="card__date">03/09/2024</spam>
                            <span class="card__category">текст</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <h3 class="card__title">ocean ruins</h3>
                            <spam class="card__date">03/09/2024</spam>
                            <span class="card__category">текст</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <h3 class="card__title">mob spawner</h3>
                            <spam class="card__date">03/09/2024</spam>
                            <span class="card__category">текст</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <h3 class="card__title">village</h3>
                            <spam class="card__date">03/09/2024</spam>
                            <span class="card__category">текст</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <h3 class="card__title">igloo</h3>
                            <spam class="card__date">03/09/2024</spam>
                            <span class="card__category">текст</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <h3 class="card__title">nether fortress</h3>
                            <spam class="card__date">03/09/2024</spam>
                            <span class="card__category">текст</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <h3 class="card__title">bastion remnants</h3>
                            <spam class="card__date">03/09/2024</spam>
                            <span class="card__category">текст</span>
                    </div>
                </div>
                </div>
                    <div class="container">
                        <h3 class="card__title">end city</h3>
                        <spam class="card__date">03/09/2024</spam>
                        <span class="card__category">текст</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>