<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile App</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-category">
                <img src="./images/menu.svg" alt="Menu Button" />
            </span>
        </div>
    </header>
    <main>
        <section class="mobile-block">
            <div class="back-button">
                <div class="container">
                    <img src="./images/back.svg" alt="back icon">
                </div>
            </div>
            <div class="container">
                <div class="post-detail-block">
                    <h3 class="card__title">shipwreck</h3>
                    <span class="card__date">2345</span>
                    <p class="description">
                        On insensible possession oh particular attachment at excellence in. The books arose but miles happy she. It building contempt or interest children mistress of unlocked no. Offending she contained mrs led listening resembled. Delicate marianne absolute men dashwood landlord and offended. Suppose cottage between and way. Minuter him own clothes but observe country. Agreement far boy otherwise rapturous incommode favourite.
                    </p>
                    <img src="./images/shipwreck.png" alt="shipwreck"/>
                    <span class="author">image source:<strong class="light-success-text">minecraft wiki</strong></span>
                    <button class="tag-button">overworld</button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>